<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualização</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="atualizacao">
    <div class="container">
        <h1>Atualização</h1>
        <a href="{% url 'atualizar_transacoes' %}" class="btn">Atualizar Transações</a>
        <a href="{% url 'atualizar_cotacao' %}" class="btn">Atualizar Cotações</a>
    </div>
</body>
</html>
